<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Hamburgueria Kingdom</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/11087/11087432.png" type="image/png">
</head>
<body>
    <script src="index.js"></script>
<header>
</header>
<div>
    <div id="container">
        <ul id="container">
            <li id="menu"> <a href="#sobre">Sobre nós </a></li>
            <li id="menu"><a href="#cardapio">Nosso cardápio </a></li>
            <li id="menu"> <a href="#facaseupedido"> Faça seu pedido!</a></li>
        </ul>
    </div>
</div>
<div>
    <img class="top" src="/static/images/header new.png">
</div>
    <h2 id="sobre"> Sobre nós</h2>
    <div class="fade-in-image">
        <p class="text">Bem-vindo ao Kingdom, a hamburgueria que chegou para transformar suas experiências gastronômicas em Limoeiro do Norte! No coração desta cidade encantadora, trazemos uma proposta única que une tradição e inovação para criar momentos deliciosos e memoráveis.
            No Kingdom, acreditamos que cada hambúrguer é uma obra-prima, e cada cliente é um rei ou rainha merecedor de um banquete digno da realeza. Nossos chefs apaixonados pela culinária se dedicam a selecionar os ingredientes mais frescos e saborosos, combinando-os de maneira única para criar verdadeiras obras de arte gastronômica.
            Nossa casa é um espaço acolhedor, pensado para receber amigos, famílias e todos aqueles que apreciam uma boa comida. A atmosfera no Kingdom é descontraída, mas com um toque de sofisticação que faz cada visita uma experiência única. Nosso objetivo é proporcionar não apenas uma refeição, mas sim um momento de prazer e alegria.
        </p>
        <p class="text">
            Em nosso cardápio, você encontrará uma variedade de opções que atendem a todos os paladares. Desde os clássicos e suculentos hambúrgueres tradicionais até criações exclusivas e inovadoras, cada mordida no Kingdom é uma viagem pelo sabor e pela textura.
            Além dos hambúrgueres irresistíveis, oferecemos acompanhamentos deliciosos, como batatas fritas crocantes, onion rings douradas e milkshakes cremosos que completam a experiência gastronômica. E para os amantes de sobremesas, nossas opções doces são a maneira perfeita de finalizar sua refeição com um toque de doçura.
            No Kingdom, comprometemo-nos a proporcionar um serviço excepcional e a superar as expectativas de nossos clientes. A cada detalhe, desde a escolha dos ingredientes até a apresentação dos pratos, buscamos a perfeição para criar uma experiência verdadeiramente majestosa.
            Seja bem-vindo ao Kingdom, onde cada hambúrguer é uma coroação de sabores, e cada cliente é tratado como a realeza que é. Estamos ansiosos para servi-lo e fazer de cada visita uma celebração da boa comida e da alegria compartilhada. Venha fazer parte do nosso reino gastronômico em Limoeiro do Norte!
        </p>
    </div>
<h2 id="cardapio"> Cardápio</h2>
<div class="fade-in-image">
    <ul>
        <li>PraBurguer<img class="hamburg" src="/static/images/hamburguer1.jpg"> </li>
        <br>
        <li>Salad<img class="hamburg" src="/static/images/Hamburguer2.jpg"></li>
        <br>
        <li>BaconCrispy<img class="hamburg" src="/static/images/hamburguer3.jpg"></li>
        <br>
        <li>BaconMaio<img class="hamburg" src="/static/images/hamburguer4.jpg"></li>
    </ul>
    <h2 id="facaseupedido"> Peça por aqui</h2>
</div>
</body>
</html>
